/* IMPORT FONT FAMILY*/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500;700&family=Raleway:wght@100&family=Nanum+Gothic&family=Ubuntu&display=swap');

/*ROOT*/
:root {
  --color_primary-dark : #06668C;
  --color_primary-light : #427AA1;
    --color_secondary-dark : #3d793b; 
    --color_secondary-light:  #7d8549;
    --color__font-light : #ffff;
    --color__font-title : #117917;
    --color_black : #333;
    
    --color-bg-light : rgba(54, 133, 223, 0.2);

    --color-heart:rgba(255, 0, 0, 0.788);
    --color-hand:rgba(224, 208, 63, 0.774);
    --color-teacher:rgba(0, 128, 0, 0.719);
    --font_title : 'EB Garamond', serif;
    --font_title--secondary : 'Nanum Gothic', sans-serif;
    --font_title--ter :'Ubuntu', sans-serif;
    --font_text : 'Raleway', sans-serif;

}

/*RESET*/
*, p, ul, form {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a {
    text-decoration: none;
}


ul {
  list-style: none;
}



/* COMMON*/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1 {
  font-family: var(--font_title);
  font-weight: 700;
  font-size: clamp(14px, 3vw + 1rem, 3rem);
  color:var(--color__font-title);
}

.title__h2 {
  font-family:  var(--font_title--secondary);
  font-size: 1.8rem;
  font-weight: bold;
 }

.title__h3 {
 font-family: var(--font_title--ter);
 font-weight: 500;
 color:var(--color__font-light);
}


.d-flex-center{
  display:flex;
  justify-content: center;
  align-items: center;
}

.surlign{
  border-bottom:2px solid var( --color_secondary-light);
}

/**************/
/** HEADER ****/
/**************/


/* NAVBAR */

header{
  position:relative;
}

nav{
  display:flex;
  align-items: center;
  justify-content: space-between;
  background: var( --color_primary-dark);
  color: var(--color__font-light);
  padding:1rem;
}

.nav__link {
  position:relative;
  font-size: clamp(12px, 2vw + 0.5rem, 20px);
}

.nav__link::before{
  content:'';
  position:absolute;
  bottom:-5px;
  width:100%;
  height:2px;
  background-color: rgb(231, 227, 227);
  transform:scale(0);
  transition: transform 0.2s ease;
}
.nav__link:hover {
  color: rgb(231, 227, 227);
}

.nav__link:hover::before {
  transform: scale(1);
}

/* TOGGLE BTN*/
.nav__toggle{
  position:relative;
  width:2rem;
  height:1.5rem;
  cursor: pointer;
  
}
.bar {
  display: block;
  position:absolute;
  left:0;
  width:100%;
  height:3px;
  background: var(--color__font-light);
  border-radius:5px;
  pointer-events: none;
  opacity: 1;
  transition: transform 0.2s ease-in-out, 
              opacity 0.2s  ease-in-out;
}

.bar1 {
  top:0px;
}
.bar2{
  top:40%;
}
.bar3 {
top:85%;
}

nav.active .nav__toggle .bar1{
  transform:  translateY(10px) rotate(-45deg);
  z-index:2;
}

nav.active .nav__toggle .bar2{
  opacity: 0;
}

nav.active .nav__toggle .bar3{
  transform:  translateY(-10px) rotate(45deg);
  z-index:4;
}


/* MENU ACTIVE*/
.overlay {
  transition: background 0.2s ease;
}

.overlay.show {
position: absolute;
top:0;
left:0;
right:0;
bottom:0;
background: #333;
z-index:10;
}

header nav.active .nav__list.show{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height:40vh;
  width:100%;
  background: transparent;
  z-index: 20;
}


/* LIST MENU */
header nav ul{
  display: none;
}

.nav__link {
  color:var(--color__font-light);
}


header nav.active ul {
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:2rem;
  position:absolute;
  height:100vh;
  width:100vw;
  top:100%;
  left:0;
  padding-top:3rem;
  background: var(--color_primary-light);
  
}

/****************/
/* MAIN SECTION */
/****************/
main{
  position:relative;
}




/* SECTION 1 */
.main__section {
  background-image: url("/assets/img/bg_image1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter:grayscale(60%);

  height:calc(100vh - 56px );
}

.main__section .block__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:100%;
}

.main__section .content__text  {
  padding-top:4rem;
  flex:1 0 auto;
}

.main__section p {
 
  color:var(--color__font-title);
  font-family: var(--font_text);
  font-weight: 700;
  word-spacing: 0.2rem;
}


.main__section .block__icon{
  text-align: center;
  justify-self: flex-end;
  font-size: 2rem;
  
}

.fa-circle-down{
  color:var(--color_primary-light);
  cursor:pointer;
}




/* SECTION 2*/
.block {
  padding:3rem;
}


.block__action{
  background:var( --color-bg-light);
}

.block__list {
  margin: 3rem 0 4rem;
  row-gap: 2rem;
}
.block__list-item{
  flex-direction: column;
}
.block__content{
  padding:2rem;
  text-align: center;
}
.block--border {
  box-shadow: 0 2px 3px rgba(0,0,0,0.4);
  border-radius:5px;
}

.list__logo {
  font-size: 3rem;
}

.fa-heart {
  color:var(--color-heart);
}

.fa-hand-holding-dollar {
  color: var(--color-hand)
}

.fa-graduation-cap {
  color :var(--color-teacher);
}

.link {
  color:var(--color_primary-dark);
}

.link__cta {
  padding:0.5rem;
  border:1px solid var(--color_primary-dark);
  border-radius: 5px;
  transition: background 0.2s;
}

.link__cta:hover {
background: var(--color-bg-light);
}




.link__cta i {
  font-size: 0.7rem;
  animation: chevron 1.5s infinite;
}

.link__cta i:nth-child(2) {
  animation-delay: 0;
}

.link__cta i:nth-child(3) {
  animation-delay: 0.2s;
}

.link__cta i:nth-child(4) {
  animation-delay: 0.4s;
}



/*anim btn*/
@keyframes chevron {
  0% {
    color: inherit;
  }
  90%, 100% {
    color: var(--color-bg-light);
   
  }
}


/* SECTION 3*/
.block__news {
  margin:2rem 0;
}

.wrapper__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:1.5rem;
  padding-top:3rem;
}
.card__item {
  width: calc(100% / 3 - 30px);
  min-width: 250px;
  box-shadow: 2px 4px 4px rgba(0,0,0,0.7);
  border-radius:2px;
}

.card__pic {
  position:relative;
  width:100%;
  height:200px;
}

.card__pic img {
  width:100%;
  height:100%;
  object-fit: cover;
  object-position: center;
}

.card__pic .card__pic__info {
  position:absolute;
  display:block;
  width:100%;
  bottom:0;
  left:0px;
  background:rgba(0, 0, 0, 0.505);
  color:var(--color__font-light);
  text-align: left;
  font-size: 0.7rem;
  padding-left:5px;
}
.card__content {
  display:flex;
  flex-direction: column;
  padding:1.5rem;
  height:auto;
}

.card__content p {
  flex-grow:1;
  padding:1rem 0;
}

.card__content .btn {
  position:relative;
  width:50%;
  margin:0 auto;
  border:1px solid var(--color_primary-dark);
  color: var(--color_primary-dark);
  overflow:hidden;
  box-shadow: 0 4px 4px 1px rgba(0,0,0,0.4);
  z-index:1;
}

/* effect button*/
.card__content .btn::before{
  content:'';
  position:absolute;
  top:0;
  left:0;
  transform: translateX(-100%);
  background: var(--color_primary-dark);
  width:100%;
  height:100%;
  z-index: -1;
  transition: transform 0.2s ease-in-out;
}

.card__content .btn:hover   {
  color: var(--color__font-light);
  box-shadow: 0 1px 4px 1px rgba(0,0,0,0.4);
}

.card__content .btn:hover::before{
transform:translateX(0);
}


/***********/
/* FOOTER */
/**********/

footer {
  
  background: var(--color_primary-light);
 position:relative;
  padding:1rem 0 2rem;
}

/* SVG */
.custom-shape-divider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: rotate(180deg);
  z-index:1;
}

.custom-shape-divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 77px;
}

.custom-shape-divider .shape-fill {
  fill: #FFFFFF;
}

.footer__list {
  padding-top:5rem;
  height: 100%;
  text-align: center;
}


.footer__list__sublist span {
  font-weight: bold;
}

.social__link {
  color:inherit
}

/***********************/
/* SECTION MAIN ACTION*/
/***********************/

.event {
  border:1px solid rgba(240, 188, 20);
  border-left:5px solid rgb(240, 188, 20);
  margin: 2.5rem 70px 0;
  padding:15px 0 15px 25px;
  background: rgba(240, 189, 20, 0.363);

}
.event__text {
  border:1px solid var(--color_secondary-light);
  background-color: var(--color_secondary-light);
  border-radius: 25px;
  padding:8px 7px;
  font-size: 0.8rem;
  color:var(--color__font-light)
}

.icon_heart::before {
  content:'\f004';
  font-family: "Font Awesome 6 Free";
  padding-right: 1rem;
  color: var(--color-heart);
}

.icon_money::before {
  content:'\f4c0';
  font-family: "Font Awesome 6 Free";
  padding-right: 1rem;
  color: var(--color-hand);
}

.icon_teacher::before {
  content:'\f19d';
  font-family: "Font Awesome 6 Free";
  padding-right: 1rem;
  color: var(--color-teacher);
}

.article__wrapper {
  padding: 5px 0;
}

.paragraph {
  font-family: var(--font_text);
  font-weight: 700;
  text-align: justify;
  line-height: 1.8rem;
  color: var(--color__black);
}
.action__pic {
  width:90wh;
}

.action__pic img {
  width:100%;
}



/****************/
/* MEDIA QUERY */
/***************/

@media screen and (min-width:576px) {
  
   

    .nav__toggle {
      display: none;
    }

    header nav ul{
      display: flex;
      justify-content: space-between;
      gap:2rem;
    }
    
}